/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MaLichSuPhieu]
      ,[MaBan]
      ,[MaPhong]
      ,[MaMay]
      ,[GioVao]
      ,[GioTra]
      ,[DangNgoi]
      ,[MaKhachHang]
      ,[MaTheVIP]
      ,[TenKhachHang]
      ,[SoLuongKhach]
      ,[TongTien]
      ,[TienGiamGia]
      ,[LyDoGiam]
      ,[DaTinhTien]
      ,[DaTraDu]
      ,[TienThucTra]
      ,[TienCoc]
      ,[TienGio]
      ,[TienDichVu]
      ,[TienDenBuVatDung]
      ,[TienDenBuThietBi]
      ,[NVTaoMaNV]
      ,[NVTinhTienMaNV]
      ,[DauDi]
      ,[KhongTangGio]
      ,[ThoiGianTaoPhieu]
      ,[ThoiGianDongPhieu]
      ,[ThoiGianSuaPhieu]
      ,[SolanIn]
      ,[SuaphieuIn]
      ,[CoChuyenBan]
      ,[PhieuHuy]
      ,[TiepKhach]
      ,[NVQuanLy]
      ,[GhiChu]
      ,[HoaDonDo]
      ,[DTBanLe]
      ,[NgayGhiHD]
      ,[CoTachBan]
      ,[NVPhucVu]
      ,[MaTienTe]
      ,[PhanTramDV]
      ,[SoTienDVPhi]
      ,[PhanTramVAT]
      ,[SoTienVAT]
      ,[MaKhu]
      ,[HoaHong]
      ,[NhomKH]
      ,[QuocTich]
      ,[SoLuongKhachNN]
      ,[TyGia]
      ,[SoPhieuPhu]
      ,[MaCa]
      ,[KeyString]
  FROM [GOLDENLOTUS_Q3].[dbo].[tblLichSuPhieu] where MaLichSuPhieu like '%2019%'