/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[MaLichSuPhieu]
      ,[MaHangBan]
      ,[TenHangBan]
      ,[SoLuong]
      ,[MaDVT]
      ,[DonGia]
      ,[ThanhTien]
      ,[MaNhanVien]
      ,[ThoiGianBan]
      ,[MaSuCo]
      ,[LyDo]
      ,[MaNhanVienSuCo]
      ,[DaTruKho]
      ,[DaXuLy]
      ,[OrderID]
      ,[DonGiaTT]
      ,[MaTienTe]
      ,[ThanhTienTT]
      ,[GhiChuKMHB]
      ,[DaThanhToan]
  FROM [GOLDENLOTUS_Q3].[dbo].[tblLSPhieu_HangBan] where ID like '%03-1-2019%'
 